[user]
    name  = Noel Espino Córdova
    email = github@ednoesco.com
    signingkey = 28CEAA1B67704969

[core]
    editor = nvim

[init]
    defaultBranch = main

[pull]
    ff = true
    rebase = true

[fetch]
    prune = true

[log]
    abbrevCommit = true

