[user]
  name  = Noel Espino Córdova
  email = 12452210+slingercode@users.noreply.github.com
  signingkey = A1125D878050403B

[core]
  editor = nvim

[feth]
  prune = true

[init]
  defaultBranch = main

